*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    width: 100%;
}

.navbar{
    background: #4E342E;
}

/* Menu Page */

.all-coffe-page{
    margin-top: 141px;
    padding: 0 5%;
    width: 100%;
}

.coffe-title{
    text-align: center;
}

.coffe-title h1{
    color: #4E342E;
    font-family: "Pacifico", sans-serif;
    font-size: 70px;
    font-weight: 400;
}

.card-box{
    margin-top: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    width: 100%;
}

.menu-card{
    flex: 1 1 45%;
    display: flex;
    gap: 30px;
    max-width: 50%;
    margin-top: 30px;
}

.menu-img{
    width: 100%;
    max-width: 300px;
    overflow: hidden;
    border-radius: 5%;
}

.menu-img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.menu-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-text h2{
    color: #4E342E;
    letter-spacing: 3px;
    margin-bottom: 5px;
}

.menu-text p{
    font-weight: 400;
    letter-spacing: 3px;
}

.menu-price-button h3{
    color: #4E342E;
    letter-spacing: 2px;
    font-weight: 600;
}

.menu-button{
    margin-top: 20px;
}

.menu-button a{
    padding: 10px 50px;
    border-radius: 5px;
    background-color: #4E342E;
    color: #fff;
    display: inline-block;
}

@media (max-width: 992px){
    .menu-card{
        flex: 1 1 100%;
    }
}

@media (max-width: 767px){
    .home-text h4{
        font-size: 25px;
    }

    .home-text h1{
        font-size: 50px;
    }

    .menu-card{
        flex: 1 1 100%;
        flex-wrap: wrap;
    }

    .menu-img {
        width: 100%; 
        max-width: none; 
    }

    .menu-img img {
        width: 100%; 
        height: auto; 
    }
}