*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: auto;
    width: 100%;
}

.navbar{
    background-color: #4E342E;
}

.detail-coffe-page{
    height: 86vh;
    padding: 0 5%;
    /* display: flex;
    flex-direction: column; */
    width: 100%;
}

.detail-coffe-content{
    height: 100%;
    margin-top: 100px;
    display: flex;
    align-items: center;
}

.detail-coffe-card{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 120px;
}

.detail-coffe-image{
    width: 100%;
    max-width: 450px;
}

.detail-coffe-image img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.detail-coffe-info form{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.coffe-name-price-desc{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.coffe-name-price{
    display: flex;
    justify-content: space-between;
}

.coffe-name-price h1{
    color: #4E342E;
}

.coffe-name-price h1:first-child{
    font-size: 35px;
}

.coffe-name-price h1:last-child{
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-stock-qty{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-stock-qty p{
    font-size: 17px
}

.qty-container{
    display: flex;
    align-items: center;
}

.qty-btn{
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    background-color: #4E342E;
    color: #fff;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
}

.qty-btn:focus{
    outline: none;
}

.qty-input{
    width: 50px;
    text-align: center;
    font-size: 18px;
    border: none;
    margin: 0 10px;
}

.qty-input:focus{
    outline: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

.product-button input{
    border: none;
    padding: 15px 80px;
    border-radius: 5px;
    background-color: #4E342E;
    color: #fff;
}

.product-button input:hover{
    cursor: pointer;
}

@media (max-width: 1070px){
    .coffe-name-price h1:first-child{
        font-size: 30px;
    }

    .coffe-name-price h1:last-child{
        font-size: 20px;
    }
}

@media (max-width: 992px){
    .detail-coffe-page{
        height: auto;
    }

    .detail-coffe-content{
        margin-top: 165px;
    }

    .detail-coffe-card{
        flex-direction: column;
        align-items: center;
    }

    .detail-coffe-info form{
        gap: 40px;
    }

    .product-button input{
        width: 100%;
    }
}