@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
}

body{
    height: 100vh;
}

#contact{
    margin-top: 120px;
    background: #4E342E;
    padding: 80px 6%;
    
}

.main{
    display: flex;
    flex-wrap: wrap;
}
  
.footer{
    padding: 20px 0;
}
  
.list{
    width: 25%;
}
  
.list h4{
    font-size: 21px;
    color: #fff;
    margin-bottom:30px ;
    position: relative;
}
  
.list h4::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 60px;
    left: 0;
    bottom: -10px;
    background-color: #fff;
}
  
.list ul li:not(last-child){
    margin-bottom: 16px ;
}
  
.list ul li a{
    color: #ffffffbf;
    font-size: var(--p-font);
    display: block;
    transition: .3s;
}
  
.list ul li a:hover{
    color: #fff;
    transform: translateX(14px);
}

.list .social li {
    list-style: none;
    display: inline-flex;
}

.list .social a{
    height: 40px;
    width: 40px;
    background-color: #fff;
    color: #4E342E;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    border-radius: 15px;
    transition: .3s;
    margin-right: 10px;
}
  
.list .social a:hover{
    transform: scale(1.1);
}
  
.end-text{
    text-align: center;
    padding-top: 90px;
}
  
.end-text p{
    color: #fff;
    font-size: 14px;
    letter-spacing: 2px;
}