*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    width: 100%;
}

.navbar{
    background: rgba(0, 0, 0, 0.1); 
    backdrop-filter: blur(20px);
}

.home-section{
   background-image: url(../../images/coffe_img_5.jpg);
   background-size: cover;
   height: 100%;
}

.home-content{
    height: 100%;
    padding-top: 100px;
    padding: 100px 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 35px;
}

.home-text{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #fff;
}

.home-text h4{
    font-size: 30px;
    font-weight: 200;
}

.home-text span{
    font-weight: 600;
    color: #4E342E;
}

.home-text h1{
    font-size: 60px;
    font-weight: 500;
}

.home-button a{
    background: linear-gradient(90deg, #4E342E 0%, #8D6E63 100%);
    padding: 20px 20px;
    border-radius: 15px;
    color: #fff;
    text-decoration: none;
}

/* Menu Page */

.menu{
    margin-top: 60px;
    padding: 0 5%;
    width: 100%;
}

.menu-title{
    text-align: center;
}

.menu-title h1{
    color: #4E342E;
    font-family: "Pacifico", sans-serif;
    font-size: 70px;
    font-weight: 400;
}

.card-box{
    margin-top: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    width: 100%;
}

.menu-card{
    flex: 1 1 48%;
    display: flex;
    gap: 30px;
    max-width: 100%;
    margin-top: 30px;
}

.menu-img{
    width: 100%;
    max-width: 300px;
    overflow: hidden;
    border-radius: 5%;
}

.menu-img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.menu-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-text h2{
    color: #4E342E;
    letter-spacing: 3px;
    margin-bottom: 5px;
}

.menu-text p{
    font-weight: 400;
    letter-spacing: 3px;
}

.menu-price-button h3{
    color: #4E342E;
    letter-spacing: 2px;
    font-weight: 600;
}

.menu-button{
    margin-top: 20px;
}

.menu-button a{
    padding: 10px 50px;
    border-radius: 5px;
    background-color: #4E342E;
    color: #fff;
    display: inline-block;
}

@media (max-width: 992px){
    .menu-card{
        flex: 1 1 100%;
        width: 100% !important;
        margin: 0;
    }

    
}

@media (max-width: 767px){
    .home-text h4{
        font-size: 25px;
    }

    .home-text h1{
        font-size: 50px;
    }

    .menu-card{
        flex: 1 1 100%;
        flex-wrap: wrap;
        max-width: 70%;
    }

    .menu-img {
        width: 100%; 
        max-width: none; 
    }

    .menu-img img {
        width: 100%; 
        height: auto; 
    }
    
    .card-box{
        justify-content: center !important;
    }
}